<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->
    
<div class="container">
	<div class="jumbotron" style="background-color:#1c1c1c">
    <div align="center">
    
    <h2 align="center"><b><%=sunucu.name%> - Kanal Listesi</b></h2>
    <br>
<table>
  <tr>
    <th>Adı</th>
    <th>ID</th>
    <th>Türü</th>
    <th>Kategori</th>
    <th>Açıklama</th>
    <th>Oluşturulduğu tarih</th>
  <>
<% sunucu.channels.filter(c => c.type !== "category").forEach(c => { %>
  <tr>
    <td><%=c.name%></td>
    <td><%=c.id%></td>
    <td><%=c.type.replace("text", "Metin Kanalı").replace("voice", "Sesli Kanal")%></td>
    <td><%=c.parent ? c.parent.name : "Bir kategoride bulunmuyor."%></td>
    <td><%=c.topic || "Bulunmuyor."%></td>
    <td><%=bot.useful.tarih(c.createdAt)%></td>
  <>
<% }); %>
</table>
    
    </div>
  </div>
</div>

<%- include('footer.ejs', {bot, user, path}) %>