<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->

<div class="container">
	<div class="jumbotron" style="background-color:#1c1c1c">
		<div align="center">
      
      <div class="card" style="width:20rem">
        
	<img src="<%= kullanici.displayAvatarURL %>" alt="Kullanıcı Avatar" style="width:100%">
  <div class="container">
    <h4 style="color:#fff"><b><%=kullanici.username%></b></h4> 
    <p style="color:#b1b1b1"><b style="color:#fff">Tag</b>: <%=kullanici.tag%></p> 
    <p style="color:#b1b1b1"><b style="color:#fff">ID</b>: <%=kullanici.id%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Discord kayıt tarihi</b>: <%=bot.useful.tarih(kullanici.createdAt)%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Durumu</b>: <%=kullanici.presence.status.replace("online", "Çevrimiçi").replace("dnd", "Rahatsız etmeyin").replace("idle", "Boşta").replace("offline", "Çevrimdışı")%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Durum mesajı</b>: <%=kullanici.presence.game ? kullanici.presence.game.name : "Durum mesajı boş."%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Bot mu</b>? <%= kullanici.bot ? 'Evet' : 'Hayır' %>.</p>
    <p style="color:#b1b1b1"><b style="color:#fff">Son gönderdiği mesaj</b>: <%=kullanici.lastMessage ? kullanici.lastMessage.content : "Bilinmiyor."%></p>
    <% if (user && user.id === kullanici.id) { %>
    <a style="color:#fff" class="save-btn" href="/kullaniciler/<%=kullanici.id%>/yonet" role="button">Kullanıcı ayarlarına git</a>
    <% } %>
  </div>
</div>
      
    </div>
  </div>
</div>
  
<%- include('footer.ejs', {bot, user, path}) %>