<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->
    
<div class="container">
  <div class="jumbotron" style="background-color:#2C2F33">
    <div align="center">
      <h4 style="color:#fff">BOTU KULLANAN KİŞİLER</h4><br>
      
      <% bot.users.filter(u=>u.id!==bot.user.id).forEach((kullanici) => { %>
      <% let link = `/kullaniciler/${kullanici.id}` %>
      <a href="<%=link%>"><img title="<%=kullanici.tag%>" class="rounded-circle" src="<%= kullanici.displayAvatarURL %>" style="width: 80px;" alt=""></a>
      <% }); %>
    
    </div>
  </div>
</div>

<%- include('footer.ejs', {bot, user, path}) %>