<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->

<div class="container">
	<div class="jumbotron" style="background-color:#1c1c1c">
		<div align="center">
      
      <div class="card" style="width:20rem">
    
        <%
				let region = {
					"us-central": "Amerika",
					"us-east": "Doğu Amerika",
					"us-south": "Güney Amerika",
					"us-west": "Batı Amerika",
					"eu-west": "Batı Avrupa",
					"eu-central": "Avrupa",
					"singapore": "Singapur",
					"london": "Londra",
					"japan": "Japonya",
					"russia": "Rusya",
					"hongkong": "Hong Kong",
					"brazil": "Brezilya",
					"singapore": "Singapur",
					"sydney": "Sidney",
					"southafrica": "Güney Afrika"
				} %>
        
<% if (sunucu.icon) { %>
		<img src="<%=`https://cdn.discordapp.com/icons/${sunucu.id}/${sunucu.icon}.png?size=256`%>" alt="Sunucu İkon" style="width:100%">
	<% } else { %>
        <br>
		<canvas class="d-inline-block align-top rounded-circle" style="background-color: #7289da" id="<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>" width="226px" height="226px"></canvas>
		<br>
        <script>
			function draw() {
				const ctx = document.getElementById("<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
				ctx.font = '95px Arial';
				ctx.textAlign = "center";
				ctx.fillStyle = "white";
				ctx.fillText("<%= sunucu.name.split(' ').map(v => v[0]).join('') %>", 115, 152);
			};
			draw();
		</script>
	<% } %>
  <div class="container">
    <h4 style="color:#fff"><b><%=sunucu.name%></b></h4> 
    <p style="color:#b1b1b1"><b style="color:#fff">Sunucu Sahibi</b>: <%=sunucu.owner.user.tag%></p> 
    <p style="color:#b1b1b1"><b style="color:#fff">Sunucu ID</b>: <%=sunucu.id%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Sunucu Bölgesi</b>: <%=region[sunucu.region]%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Kurulduğu Tarih</b>: <%=bot.useful.tarih(sunucu.createdAt)%></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Üyeler</b>: <%=sunucu.members.size%> üye | <a style="outline:none; text-decoration:none;" href="/sunucular/<%=sunucu.id%>/uyeler">Üye Listesi</a></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Kanallar</b>: <%=sunucu.channels.size%> kanal | <a style="outline:none; text-decoration:none;" href="/sunucular/<%=sunucu.id%>/kanallar">Kanal Listesi</a></p>
    <p style="color:#b1b1b1"><b style="color:#fff">Roller</b>: <%=sunucu.roles.size%> rol | <a style="outline:none; text-decoration:none;" href="/sunucular/<%=sunucu.id%>/roller">Rol Listesi</a></p>
    <% if (user && sunucu.members.get(`${user.id}`).hasPermission('MANAGE_GUILD')) { %>
    <a style="color:#fff" class="reset-btn" href="/sunucular/<%=sunucu.id%>/botuat" role="button">Botu sunucudan at</a>
    <% } %>
  </div>
</div>
      
    </div>
  </div>
</div>
  
<%- include('footer.ejs', {bot, user, path}) %>
