<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->
    
<div class="container">
  <div class="jumbotron" style="background-color:#2C2F33">
    <div align="center">
      <h4 style="color:#fff">YÖNETİCİ PANELİ</h4><br>
      
      <% bot.guilds.forEach((sunucu) => {
      %>
      <% let link = `/panel/${sunucu.id}/yonet` %>
      <% if (sunucu.icon) { %>
      <a href="<%=link%>"><img title="<%=sunucu.name%>" class="rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${sunucu.id}/${sunucu.icon}.png?size=128` %>" style="width: 80px;" alt=""></a>
		  <% } else { %>
      <a href="<%=link%>"><canvas title="<%=sunucu.name%>" style="background-color:#7289da" class="rounded-circle" id="<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>" width="80px" height="80px"></canvas></a>
		  <script>
        function draw() {
        const ctx = document.getElementById("<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
			  ctx.font = '20px Arial';
			  ctx.textAlign = "center";
			  ctx.fillStyle = "white";
			  ctx.fillText("<%= sunucu.name.split(' ').map(v => v[0]).join('') %>", 40, 48);
        document.getElementById("<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>").style.marginBottom = "-35px";
        };
        draw();
		  </script>
		<% } %>
    <% }); %>
    
    </div>
  </div>
</div>
    
<%- include('footer.ejs', {bot, user, path}) %>