<%- include('başlık.ejs', {bot, user, path}) %>

<!--HEADER-->
    
<div class="container">
	<div class="jumbotron" style="background-color:#1c1c1c">
    <div align="center">
    
    <h2 align="center"><b><%=sunucu.name%> - Üye Listesi</b></h2>
    <br>
<table>
  <tr>
    <th>Tag</th>
    <th>ID</th>
    <th>Katılma tarihi</th>
    <th>Rolleri</th>
    <th>Bot mu?</th>
  <>
<% sunucu.members.forEach(m => { %>
  <tr>
    <td><%=m.user.tag%></td>
    <td><%=m.user.id%></td>
    <td><%=bot.useful.tarih(m.joinedAt)%></td>
    <td><%=m.roles.filter(r => r.name !== "@everyone").map(r => r.name).join(" | ") ? m.roles.filter(r => r.name !== "@everyone").map(r => r.name).join(" | ") : "Sunucuda hiç rolü bulunmuyor."%></td>
    <td><%=m.user.bot ? "Evet" : "Hayır"%></td>
  <>
<% }); %>
</table>
    
    </div>
  </div>
</div>

<%- include('footer.ejs', {bot, user, path}) %>